/*
  Stylizes main profile header
*/

header.profile {
  padding-top: 4em;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dba8d0;
  background-image: url("../images/dust.png");
}
