/*

  Stylizes navbar: tweeter logo, scroll icon, new tweet icon

*/

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  position: fixed;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 2.5em 1.5em 0 1.5em;
  top: 0;
  z-index: 1;
}

/* Sets font style for tweet text*/
.navbar2 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
}

#tweet-arrow { /* Sets animation for red arrow*/
  color: #ff331a;
  cursor: pointer;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

#tweet-arrow:hover {
  color: #C6B150;
}

#title {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

.scroll-up {
  bottom: 2em;
  right: 0;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1;
}

/* Creates icon for scroll */
#arrow-scroll {
  padding: 0.85em 0 0 0.98em; /* Centers arrow */
  color: white;
  font-size: 30px;
  border-radius: 50%;
  background: #EB5744;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#arrow-scroll:hover {
  background-color: #C6B150;
}

/* Mobile and smaller devices only styles */
@media only screen and (max-width: 1024px) {
  nav {
    position: fixed;
    background-color: transparent;
  }
}